{% extends "schedule_check/base.html" %}
{% load bootstrap4 %}
{% block title %}イベント編集{% endblock title %}
{% block content %}
<h4 class="mt-4 border-bottom">イベント編集</h4>
<form action="" method="post">
    <p>パスワード<br><input type="password" name="input_password"></p>
    <p><label class="text-danger">{{ ERROR_MASSAGE }}</label></p>
    <button type="submit" class="btn btn-primary">送信</button>
    <a href="{% url 'schedule_check:event_list_detail' event_id=EVENT_ID %}" class="btn btn-secondary btn-sm">イベント詳細に戻る</a>
    {% csrf_token %}
</form>
{% endblock content %}