{% extends "schedule_check/base.html" %}
{% load bootstrap4 %}
{% block title %}イベント新規作成{% endblock title %}
{% block content %}
<h4 class="mt-4 border-bottom">イベント新規作成</h4>
<form action="" method="post">
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="form-group row">
            {{ field.label_tag }}
            <div class="col-md-6 col-sm-12">
                {{ field }}
                {% if field.help_text %}
                    <span class="helptext">{{ field.help_text }}</span>
                {% endif %}
                {{ field.errors }}
            </div>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-sm my-3">イベント作成</button>
    <a href="{% url 'schedule_check:event_list' %}" class="btn btn-secondary btn-sm">イベントリストに戻る</a>
    {% csrf_token %}
</form>
{% endblock content %}
