{% extends "schedule_check/base.html" %}
{% load bootstrap4 %}
{% block title %}イベント一覧{% endblock title %}
{% block content %}
<h4 class="mt-4 border-bottom">イベントリスト</h4>
<a href="{% url 'schedule_check:event_create' %}" class="btn btn-primary btn-sm my-3">イベント新規作成</a></br>
<table id="table_id" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th scope="col">イベントID</th>
        <th scope="col">イベント名</th>
        <th scope="col">候補日1</th>
        <th scope="col">候補日2</th>
        <th scope="col">候補日3</th>
        <th scope="col">候補日4</th>
    </tr>
    </thead>
    <tbody id="tbody_id">
    {% for dt in dts %}
        <tr>
            <th scope="row">{{ dt.EVENT_ID }}</th>
            <td>{{ dt.EVENT_NAME }}</td>
            <td>{{ dt.EVENT_DATE1 }}</td>
            <td>{{ dt.EVENT_DATE2 }}</td>
            <td>{{ dt.EVENT_DATE3 }}</td>
            <td>{{ dt.EVENT_DATE4 }}</td>
            <td>
                <a href="{% url 'schedule_check:event_list_detail' event_id=dt.EVENT_ID %}" class="btn btn-outline-primary btn-sm">詳細</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'schedule_check:index' %}" class="btn btn-secondary btn-sm">トップページに戻る</a></br>
{% endblock content %}